.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  min-height: calc(100vh - 80px);
}

.home-section {
  display: flex;
  align-items: flex-start;
  max-width: 800px;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

/* Flex-direction for alternating layouts */
.left-image {
  flex-direction: row;
}

.right-image {
  flex-direction: row-reverse; /* This ensures the image goes on the right */
}

/* Center text to the left */
.home-text {
  text-align: left; /* Left-align text */
  flex: 1; /* Allow text to take available space */
  font-weight: bold; /* Make the text bold */
  font-family: 'Inter', sans-serif; /* Use Inter font for text */
  color: #E63946; /* Adjust color if needed */
  font-size: 15px; /* Adjust font size if needed */
}

.home-image {
  width: 200px; /* Adjust size as necessary */
  height: auto;
  margin-bottom: 15px; /* Space between image and text */
}

.home-image-top {
  width: 250px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 20px; /* Space below the image */
  display: block; /* Ensure it's treated as a block element for centering */
  margin-left: auto; /* Center horizontally */
  margin-right: auto; /* Center horizontally */
}